<!-- vim: set ts=2 expandtab nospell : -->
<small>
	<center>
	<p><em>
(Don't read this page. It is a work in progress for a Fall'19 graduate automated SE subject at NC State. 
Come
back in mid-October!)
</em>
<p>
	<img src="/img/banner.png" class="img-responsive img-rounded">
		<table style="margin:0; border: 1px solid #000000;  ">
      <tr style="background-color: #DCDCDC;">
				<td valign=top align=left><h4>Introduction</h4>
					<a href="/index">preface</a> <br>
					<a href="/about-why">why read this book?</a> <br>
					<a href="/about-book">motivation</a> <br>
					<a href="/about-ethics">ethics</a> <br>
					<a href="/baseline">baselines</a> 
         </td>
				<td valign=top align=left><h4>Technology</h4>
					Data mining:<br>
          <a href="/about-discretization">discretization</a> <br>
					<a href="/about-learners">basic</a> <br>
					<a href="/about-advanced-learners">advanced</a> <br>
					Optimizers:<br><a href="/about-landscapes">landscapes</a> <br>
					<a href="/about-optimziers">basic</a> <br>
					<a href="/about-advanced-optimziers">advanced</a> <br>
					<a href="/about-duo">optimizing+data mining </a> <br>
					Theorem provers:<br><a href="/about-theorem-provers">basic</a> <br>
					<a href="/about-advanced-theorem-provers">advanced</a>
         </td>
				<td valign=top align=left><h4>Process</h4>
					<a href="data-requirements">requirements</a> <br>
					<a href="data-collect">collect</a> <br>
					<a href="data-cleanse">cleanse</a> <br>
					<a href="data-label">label</a> <br>
					<a href="data-train">train</a> <br>
					<a href="data-eval">eval</a> <br>
					<a href="data-deploy">deploy</a> <br>
					<a href="data-monitor">monitor</a> 
				</td>
				<td valign=top align=left><h4>Code</h4>
					<a href="config">config</a>  <br>
					<a href="ok">tests</a> 
				</td>
			</tr>
		</table>
	</center>
</small>

