
<small>
	<center>
		<img src="/img/banner.png" class="img-responsive img-rounded">
		<br>
		<table style="margin:0; background-color: #DCDCDC;">
			<tr>
				<td valign=middle align=right>Notes:</td>
				<td valign=middle align=left>
					<a href="index">home</a> |
					<a href="about-book">intro</a> |
					<a href="data-ethics">ethics</a> |
					<a href="data-requirements">requirements</a> |
					<a href="data-collect">collect</a> |
					<a href="data-cleanse">cleanse</a> |
					<a href="data-label">label</a> |
					<a href="data-train">train</a> |
					<a href="data-eval">eval</a> |
					<a href="data-deploy">deploy</a> |
					<a href="data-monitor">monitor</a> 
				</td>
			</tr>
			<tr>
				<td valign=middle align=right>Code:</td>
				<td valign=middle align=left>
					<a href="config">config</a>  |
					<a href="ok">tests</a> 
				</td>
			</tr>
		</table>
	</center>
</small>

